
 <form id="productAdd"
              hx-post="/add-product" hx-target="#productsHere"
              hx-on:htmx:before-request="disableForm('#productAdd')"
              hx-on:htmx:after-request="clearForm('#productAdd')"
              hx-target="#productsHere"
              hx-trigger="submit">

            <div class="form mb-3">

                <label for="productName">Product name</label>
                <input required 
                       type="text"
                       name="productName"
                       id="productName"
                       class="form-control" placeholder="tomatos">

                <label for="productPrice" class="form-label">Enter a price:</label>
                <input required type="number" id="productPrice" name="productPrice" class="form-control" placeholder="Enter price here">
                
                <label for="productImage" class="form-label">Enter an image link:</label>
                <input required type="text" id="productImage" name="productImage" class="form-control" placeholder="Enter link here">

                <label for="productDescription" class="form-label">Enter product description:</label>
                <textarea required id="productDescription" name="productDescription" class="form-control" rows="5" placeholder="Enter text here"></textarea>
                
            </div>
            <button type="submit" class="btn btn-outline-primary btn-lg w-full">
                Add
            </button>
        </form>
