@model prototype_htmx.Models.LoadMoreModel
@using prototype_htmx.Controllers;
@{
    ViewData["Title"] = "Home page";
}


 <div class="card m-5">
    <div class="card-header bg-primary text-white">
        <h2></h2>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("_CreateForm")
        <div id="productsHere" class="mt-5 row row-cols-1 row-cols-md-3 g-4 flex-fill">
            @await Html.PartialAsync("_Products", @Model)
        </div>
    </div>
</div>


<div id="modals-here"
     class="modal modal-blur fade"
     aria-hidden="true"
     tabindex="-1">
</div>

@section Scripts {
    <script>
        function clearForm(selector) {
            const form = document.querySelector(selector);
            form.reset();

            const submit = form.querySelector("[type='submit']")
            submit.disabled = false;
        }

        function disableForm(selector) {
            console.log("disable")
            const form = document.querySelector(selector);
            const submit = form.querySelector("[type='submit']")
            console.log(submit)
            submit.disabled = true;
        }
            document.body.addEventListener('htmx:afterSwap', function (evt) {
                if (evt.detail.target.id === 'modals-here') {
                    var modalElement = document.getElementById('modals-here');
                    var modal = new bootstrap.Modal(modalElement);
                    modal.show();
                }
            });
    </script>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
}
