@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
  
}
@using Htmx;
@using Htmx.TagHelpers;
<div class="card m-5">
    <div class="card-header bg-primary text-white">
        <h2></h2>
    </div>
    <div class="card-body">
        <form id="productAdd"
              hx-post="@Url.Page("Index","Add")"
              hx-target="#productsHere"
              hx-trigger="submit" hx-swap="innerHTML">

            <div class="form mb-3">
                <input type="text"
                       name="productName"
                       id="productName"
                       class="form-control" placeholder="tomatos">
                <label for="productName">Product name</label>
               
                <input type="number" id="productAmount" name="productAmount"  class="form-control" placeholder="Enter number here">
                <label for="productAmount" class="form-label">Enter a number:</label>

                
                <textarea id="productDescription" name="productDescription" class="form-control" rows="5" placeholder="Enter text here"></textarea>
                <label for="productDescription" class="form-label">Enter product description:</label>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-lg float-end">
                Add
            </button>
        </form>
        <div id="productsHere"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
