@using htmx_prototype.Extensions;
@model htmx_prototype.Models.LoadMoreModel

@foreach (var product in Model.Products)
{
    <div class="product-card" id="product-@product.Id"
         @if (Model.HasMore && product == Model.Products.Last())
         {
             <text>
                 @* hx-get="@Url.Action( "LoadMore", "Home", new { cursor = product.Id })"
                         hx-trigger="intersect once"
                 hx-swap="afterend" *@
             </text>
         }>
        @await Partials.ProductPartial.Render(Html,product)
    </div>
}

