@using htmx_prototype.Extensions;
@model htmx_prototype.Models.LoadMoreModel

@foreach (var product in Model.Products)
{
    <div class="product-card" id="product-@product.Id">
        @await Partials.ProductPartial.Render(Html,product)
    </div>
}

@if (Model.HasMore)
{
    <div
        hx-get="@Url.Action( "LoadMore", "Home", new { cursor = Model.Products.Last().Id})"
        hx-trigger="revealed"
        hx-swap="outerHTML">

    </div>
}
