@model htmx_prototype.Models.Product

<div class="product-detail-container">
    <div class="image-container">
        <img src="@Model.PreviewImage" alt="@Model.Name" />
    </div>

    <div class="info-container">
        <div class="product-description">
            <h1>@Model.Name</h1>
            <h5 class="price">$@Model.Price</h5>
            <p class="description">@Model.Description</p>
        </div>
    </div>
</div>

