@model htmx_prototype.Models.LoadMoreModel
@using htmx_prototype.Controllers;
@{
    ViewData["Title"] = "Home page";
}


 <div class="card m-5">
    <div class="card-header bg-primary text-white">
        <h2></h2>
    </div>
    <div class="card-body">
        @await Html.PartialAsync("_CreateForm")
        <div id="productsHere" class="mt-5 row row-cols-1 row-cols-md-3 g-4 flex-fill">
            @await Html.PartialAsync("_Products", @Model)
        </div>
    </div>
</div>


<div id="modals-here"
     class="modal modal-blur fade"
     aria-hidden="true"
     tabindex="-1">
</div>


<script>
    document.getElementById('productAdd').addEventListener('submit', function (event) {
        var fileInput = document.getElementById('productImage');
        var file = fileInput.files[0];
        console.log(file);

        if (!file) {
            message.textContent = 'Please select a file.';
            event.preventDefault();
            return;
        }

        var maxSize = 5 * 1024 * 1024; // 5MB
        if (file.size > maxSize) {
            message.textContent = 'File size must be less than 5MB.';
            event.preventDefault();
        }
       
    });
    document.getElementById('productAdd').addEventListener('htmx:afterRequest', function (evt) {
        var form = document.getElementById('productAdd');
        console.log(form);
        form.reset();
        console.log(form)
    });
    document.body.addEventListener('htmx:afterSwap', function (evt) {
        if (evt.detail.target.id === 'modals-here') {
            var modalElement = document.getElementById('modals-here');
            var modal = new bootstrap.Modal(modalElement);
            modal.show();
        }
    });

    document.body.addEventListener('htmx:beforeRequest', function (evt) {
        if (evt.detail.target.id === 'editImage') {
            var fileInput = document.getElementById('editImage');
            var message = document.getElementById('message');
            var file = fileInput.files[0];
            console.log(file);
            message.textContent = '';

            if (!file) {
                message.textContent = 'Please select a file.';
                console.log("htmx:abort file null");
                htmx.trigger("editImage", "htmx:abort");
                event.preventDefault();
                return;
            }

            var maxSize = 5 * 1024 * 1024; // 5MB
            if (file.size > maxSize) {
                message.textContent = 'File size must be less than 5MB.';
                console.log("htmx:abort size");
                htmx.trigger("editImage", "htmx:abort");
                event.preventDefault();
            }
        }
    });
</script>

<script src="https://unpkg.com/htmx.org@1.7.0"></script>